* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;

    background-color: #001d3d;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.content-box {
    width: 37.5em;
    height: 20em;
    background-color: #003566;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
}

h3.author-phrase {
    color: #00f5d4;
    font-size: 1rem;
    margin: 1rem 0;
    letter-spacing: 0.2rem;
}

p.text-phrase {
    color: #e8e8e4;
    font-size: 2rem;
    font-weight: 300;
}

span, a {
    margin-top: 2rem;
    color: #e8e8e4;    
}

a {
    text-decoration: none;
}

button.nextPhrase {
    cursor: pointer;
    background-color: #00f5d4;
    color: #001d3d;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    font-weight: 800;
}

button.nextPhrase:hover {
    background-color: #8eecf5;
}

button.nextPhrase:active {
    box-shadow: -1px 0px 15px 6px #5FF5EA;
}

.icon {
    margin-left: 0.5rem;
}

footer {
    position: fixed;
    bottom: 2rem;    
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}